<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrades do Projeto - SOA</title>
</head>

<body>
    <main>
	    <a th:href="@{/}">Página Inicial</a>
	    <a th:href="@{/paginas/planetas/visiveis}">Planetas</a>
	    <a th:href="@{/paginas/terra}">Terra</a>
	    <a th:href="@{/paginas/imagem}">Imagem Aleatória</a>
	    <a th:href="@{/paginas/integrantes}">Integrantes</a>

        <article>
            <h1>Luis Alberto Gomes</h1>

            <h1>Jonatas Silvestrini</h1>

            <h1>José Carlos Santos</h1>
        </article>


    </main>
</body>
</html>