<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/base.css}">
<title>Planeta Terra</title>
</head>

<body>

	<main class="container">
		<header class="top-nav">
			<div class="logo">
				<a th:href="@{/}">Space Marvelous</a>
			</div>
			<input id="menu-toggle" type="checkbox" /> <label
				class='menu-button-container' for="menu-toggle">
				<div class='menu-button'></div>
			</label>
			<ul class="menu">
				<li><a th:href="@{/paginas/planetas/visiveis}">Planetas</a></li>
				<li><a th:href="@{/paginas/terra}">Terra</a></li>
				<li><a th:href="@{/paginas/imagem}">Imagem Aleatória</a></li>
				<li><a th:href="@{/paginas/integrantes}">Integrantes</a></li>
			</ul>
		</header>

		<form th:action="@{terra}" method="get">
			<div>
				<label for="data_terra">Data:</label> <input type="date"
					id="data_terra" name="data" th:value="${data}" />
			</div>
			<div>
				<button type="submit" class="button">Procurar</button>
			</div>
		</form>

		<div th:each="terra : ${terraImagem}">
			<label>Data: </label> <label th:text="${terra.dateTime}"></label> <br>
			<label>Lat: </label> <label th:text="${terra.coord.lat}"></label> <br>
			<label>Lon: </label> <label th:text="${terra.coord.lon}"></label> <br>
			<img th:src="${terra.urlImage}" alt="">
		</div>


	</main>
</body>
</html>