<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/base.css}">
<link rel="stylesheet" th:href="@{/css/paginas/terra.css}">
<title>Planeta Terra</title>
</head>

<body>

	<main class="container">
		<header class="top-nav">
			<div class="logo">
				<a th:href="@{/}">Space Marvelous</a>
			</div>
			<input id="menu-toggle" type="checkbox" /> <label
				class='menu-button-container' for="menu-toggle">
				<div class='menu-button'></div>
			</label>
			<ul class="menu">
				<li><a th:href="@{/paginas/planetas/visiveis}">Planetas</a></li>
				<li><a th:href="@{/paginas/terra}">Terra</a></li>
				<li><a th:href="@{/paginas/imagem}">Imagem Aleatória</a></li>
				<li><a th:href="@{/paginas/integrantes}">Integrantes</a></li>
			</ul>
		</header>

		<form th:action="@{terra}" method="get">
			<div>
				<label for="data_terra">Data:</label> <input type="date"
					id="data_terra" name="data" th:value="${data}" />
			</div>
			<div>
				<button type="submit" class="button">Procurar</button>
			</div>
		</form>

	<section class="carousel" aria-label="Gallery">
	<ol class="carousel__viewport">

		<li th:each="terra,iterStat : ${terraImagem}" th:id="${iterStat.count}" tabindex="0" class="carousel__slide">
			<div class="carousel__snapper">
				<a th:href="${iterStat.count} eq 1 ? '#' + ${iterStat.size} : '#' + ${iterStat.count-1}" class="carousel__prev">Go to last slide</a>
	        	<img th:src="${terra.urlImage}" alt="">
	        	<a th:href="${iterStat.count} eq ${iterStat.size} ? '#1' : '#' + ${iterStat.count+1}" class="carousel__next">Go to next slide</a>
			</div>
		</li>

	</ol>

	</section>


<!-- 		<div th:each="terra : ${terraImagem}"> -->
<!-- 			<label>Data: </label> <label th:text="${terra.dateTime}"></label> <br> -->
<!-- 			<label>Lat: </label> <label th:text="${terra.coord.lat}"></label> <br> -->
<!-- 			<label>Lon: </label> <label th:text="${terra.coord.lon}"></label> <br> -->
<!-- 			<img th:src="${terra.urlImage}" alt=""> -->
<!-- 		</div> -->


	</main>
</body>
</html>