<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalhes de Planetas</title>
</head>

<body>
    <main class="container">
    	<a th:href="@{/}">Página Inicial</a>
	    <a th:href="@{/paginas/planetas/visiveis}">Planetas</a>
	    <a th:href="@{/paginas/terra}">Terra</a>
	    <a th:href="@{/paginas/imagem}">Imagem Aleatória</a>
	    <a th:href="@{/paginas/integrantes}">Integrantes</a>


        <p th:text="${planetaDetalhe.nome}"></p>
        <p th:text="${planetaDetalhe.descricao}"></p>

        <figure>
            <img  th:src="${planetaDetalhe.urlImagem}" alt="imagem">
        </figure>
    </main>
</body>
</html>